* {
  padding: 0;
  margin: 0;
  font-family: ubuntu;
}

body {
  width: 100%;
  height: 100vh;
  background-image: url("wave-haikei.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
  background-color: #fff;
  height: 7vw;
  width: 80vw;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  border: 2px solid black;
  border-radius: 2vw;
  margin: 1vw auto;
  box-shadow: 0px 5px black;
}

.left {
  margin-left: 2vw;
  color: darkcyan;
  display: flex;
  align-items: center;
}

.left h2 {
  font-size: 2vw;
  font-weight: 500;
  letter-spacing: -0.1vw;
}

.right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4vw;
}

.right ul {
  display: flex;
  gap: 4vw;
  list-style: none;
  font-size: 1.5vw;
}

.login {
  height: 6vh;
  width: 6vw;
  background-color: rgb(13, 45, 13);
  color: white;
  border-radius: 1vw;
  box-shadow: 3px 5px orange;
  margin-right: 1vw;
  font-size: 1.2vw;
}

.login:hover {
  background-color: rgb(73, 69, 69);
}

.main {
  height: 75vh;
  width: 98vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-left {
  width: 30%;
  height: 100%;
  margin: 3vw;
  padding-left: 8vw;
  padding-right: 6vw;
  padding-top: 6vw;
}

.main-left h1 {
  font-size: 4vw;
  font-weight: 700;
  line-height: 4vw;
}

.main-left p {
  font-size: 1.2vw;
  line-height: 1.5vw;
  margin: 1.5vw 0vw;
}

.main-left button {
  padding: 1.2vw 2vw;
  border-radius: 1vw;
  color: #fff;
  background-color: black;
  box-shadow: 3px 5px aqua;
}

.main-left button:hover {
  background-color: rgb(73, 69, 69);
}

.main-right {
  width: 50%;
  height: 100%;
}

.main-right img {
  width: 20vw;
  height: 25vh;
  border-radius: 2vw;
  position: relative;
}

.image1 {
  /* top:20%; */
  left: 250px;
}

.image2 {
  width: 15vw;
  height: 27vh;
  top: 295px;
}

.Scrolling h1 {
  font-size: 4vw;
  color: orange;
  font-weight: 500;
  margin-bottom: 2vw;
  margin-top: 10vw;
  text-align: center;
}

.Scrolling p {
  text-align: center;
}

.gallery {
  width: 900px;
  display: flex;
  overflow-x: scroll;
}

.gallery div {
  display: grid;
  width: 100%;
  grid-template-columns: auto auto auto;
  grid-gap: 20px;
  padding: 10px;
  flex: none;
}

.gallery div img {
  width: 80%;
  height: 200px;
  filter: grayscale(100%);
  transition: transform 0.5s;
}

.gallery::-webkit-scrollbar {
  display: none;
}

.gallery-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10% auto;
}

#backBtn {
  width: 60px;
  height: 60px;
  cursor: pointer;
}

#nextBtn {
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.gallery div img:hover {
  filter: grayscale(0);
  cursor: pointer;
  transform: scale(1.1);
}

.boxes h1 {
  color: rgb(54, 224, 224);
  font-size: 4vw;
  text-align: center;
  margin-top: 3vw;
}

.inner {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.box {
  width: 300px;
  height: 300px;
  margin-top: 6vw;
  margin-bottom: 6vw;
  text-align: center;
}

.box:hover {
  box-shadow: 0px 0px 10px 7px rgb(54, 224, 224);
}

i {
  font-size: 6vw;
  color: rgb(54, 224, 224);
  margin-top: 7vw;
}

.box h2 {
  margin-top: 2vw;
}

.box p {
  font-weight: 300;
  margin-top: 2vw;
}

.section1 {
  width: 60vw;
  height: 30vh;
  background-color: orange;
  border: transparent;
  border-radius: 2vw;
  box-shadow: 5px 5px black;
  padding: 2vw;
  margin-left: 8vw;
  display: flex;
  align-items: center;
}

.section1 h1 {
  margin-bottom: 2vw;
  font-size: 3vw;
}

.section1 p {
  font-weight: 300;
  font-size: 1.5vw;
  margin-bottom: 1vw;
}

.section1 button {
  padding: 1vw 2vw;
  border-radius: 1vw;
  color: white;
  background-color: black;
}

.section1 img {
  width: 200px;
  border-radius: 2vw;
}

.section2 {
  width: 60vw;
  height: 40vh;
  background-color: rgb(71, 150, 182);
  border: transparent;
  border-radius: 2vw;
  box-shadow: 5px 5px black;
  padding: 2vw;
  margin-left: 30vw;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  margin-top: 5vw;
  margin-bottom: 5vw;
}

.section2 img {
  width: 200px;
  border-radius: 2vw;
}

.section2 .sec-right form,
.section2 .sec-right h1 {
  display: flex;
  flex-direction: column;
}

.section2 .sec-right h1 {
  text-align: center;
  margin-bottom: 2vw;
}

form input {
  width: 40%;
  padding: 1vw 1vw;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5vw;
}

span {
  width: 20%;
  font-size: 1.5vw;
  font-weight: 200;
}

.form3 input {
  margin-left: 2.5vw;
}

.form input {
  border: transparent;
  border-radius: 1vw;
}

.form ::-webkit-input-placeholder {
  font-size: 1.2vw;
}

.form button {
  width: 7vw;
  padding: 1vw 1vw;
  font-size: 1.3vw;
  background-color: black;
  color: #fff;
  border-radius: 1vw;
  margin-left: 10vw;
}

footer {
  width: 100%;
  height: 90vh;
}

.foot {
  display: flex;
  background-color: gainsboro;
}

.foot-left {
  width: 50%;
  height: 90vh;
  /* border: 1px solid red; */
}

.main-foot {
  display: flex;
}

.inner-left {
  margin-top: 3vw;
}

.inner-left ul li {
  font-size: 1.2vw;
  margin-left: 10vw;
  list-style: none;
  margin-top: 4px;
}

.inner-left h5 {
  margin-left: 8vw;
  margin-bottom: 1vw;
  font-size: 1.2vw;
}

.foot-left h1,
.foot-left h3 {
  margin-left: 8vw;
  margin-top: 1vw;
}

.s {
  margin-top: 4vw;
  margin-bottom: 1vw;
  font-size: 1.2vw;
}

.outer-left {
  margin-top: 5vw;
  margin-left: 10vw;
}

.outer-left li {
  list-style: none;
  margin-top: 0.3vw;
  font-size: 1.2vw;
}

.foot-right {
  width: 50%;
  height: 85vh;
  /* border: 1px solid blue; */
}

.foot-right .images {
  margin-left: 4vw;

}

.foot-right img {
  width: 200px;
  height: 60px;
  margin-top: 1vw;
  border-radius: 1vw;
  margin-left: 1vw;
}

.second-foot {
  display: flex;
}

.outer-left2 {
  margin-left: 6vw;
}

.outer-left2 li {
  list-style: none;
  margin-top: 0.3vw;
  font-size: 1.2vw;
}

hr {
  border-top: black;
}

.last {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: gainsboro;
  gap: 1.5vw;
}

.img_box img {
  max-width: 100%;
}
.Scrolling{
  margin-bottom: 4vw;
}
.splide__arrow {
  opacity: 1;
  width: 2rem;
  height: 2rem;
  background-color: #fbc531;
}

.splide__pagination {
  bottom: -1rem;
}
.img_box img{
  width: 300px;
  height: 200px;
  border-radius: 2vw;
  box-shadow: 5px 5px #fbc531;
  margin-bottom: 1vw;
}
.img_box p{
margin-left: 9vw;
}
.splide{
  margin: 0vw 5vw;
}
@media screen and (min-width: 640px) {
  .slider_wrapper .splide {
    padding: 0 4rem;
  }
}